@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
    font-family: 'UWA Slab';
    src: url('fonts/uwa-slab-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: #f3f4f6;
    color: #27348B;
}

.page-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.form-card {
    width: 100%;
    max-width: 420px;
    background-color: #ffffff;
    padding: 32px;
    border-radius: 14px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.form-card h1 {
    font-family: 'UWA Slab';
    text-align: center;
    margin-bottom: 10px;
    color: #1d3557;
}

.subtitle {
    text-align: center;
    margin-bottom: 24px;
    color: #6b7280;
    font-size: 15px;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form label {
    font-family: 'UWA Slab', sans-serif;
    margin-bottom: 8px;
    margin-top: 12px;
    font-weight: 600;
}

.auth-form input {
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.auth-form input:focus {
    border-color: #27348B;
}

.forgot-password {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 13px;
    text-align: center;
}

.forgot-password a {
    color: #27348B;
    text-decoration: none;
    font-weight: 600;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.helper-text {
    margin-top: 6px;
    font-size: 13px;
    color: #6b7280;
    text-align: center;
}

.auth-form button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #27348B;
    color: white;
    font-family: 'UWA Slab', sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #1e296e;
    color: #E2B600
}

.switch-text {
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
    color: #4b5563;
}

.switch-text a {
    color: #27348B;
    text-decoration: none;
    font-weight: 600;
}

.switch-text a:hover {
    text-decoration: underline;
}
