{% extends "base.html" %}
{% block content %}
<div class="container">
    
    <h3>
        <strong>
            {% if not conversation.listing.is_active %}
            Sold:
            {% elif conversation.listing.seller_id == current_user.id %}
            Selling:
            {% else %}
            Buying:
            {% endif %}
        </strong> 
        <a class="text-dark font-weight-bold" href="{{ url_for('listings.detail', listing_id=conversation.listing.id) }}">
            {{ conversation.listing.title }}
        </a>
    </h3>

    <hr>
    <div id="chat-box"
        style="height: 400px; overflow-y: scroll; border: 1px solid #ccc; padding: 15px; margin-bottom: 20px; display: flex; flex-direction: column-reverse;">
        {% for msg in messages[::-1] %}
        <p><strong>{{ User.query.get(msg.sender_id).username }}:</strong> {{ msg.content }}</p>
        {% endfor %}
    </div>

    {% if conversation.listing.is_active %}
    <form class="input-group" id="message">
        <input type="text" id="message-input" class="form-control" placeholder="Type a message..." autofocus>
        <button id="submit" class="btn btn-primary">Send</button>
    </form>
    {% else %}
    <p>this item has now been sold</p>
    {% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io();
    const room = "{{ conversation.id }}";
    socket.emit('join', { room: room });

    document.getElementById('message').onsubmit = function () {
        const input = document.getElementById('message-input');
        if (input.value) {
            socket.emit('send_message', {
                room: room,
                message: input.value
            });
            input.value = '';
        }

        document.getElementById('message-input').focus();
    };

    socket.on('receive_message', function (data) {
        const chatBox = document.getElementById('chat-box');
        const msgElement = document.createElement('p');
        msgElement.innerHTML = `<strong>${data.sender}:</strong> ${data.message}`;
        chatBox.prepend(msgElement);
    });
</script>
{% endblock %}